* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: system-ui;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: -0.04em;
}

span {
  color: #000;
  display: block;
  font-size: 100px;
  line-height: 1;
  position: relative;
  padding: 0 15px 15px;
  animation-name: var(--animationS, b);
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

span::before {
  animation-name: var(--animation, a);
  animation-duration: 8s;
  animation-iteration-count: infinite;
  background: linear-gradient(90deg, var(--start-color), var(--end-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: #fff; */
  font-size: 100px;
  position: absolute;
  inset: 0;
  content: var(--content);
  opacity: 1;
}

@keyframes a {
  0%,
  16.667%,
  100% {
    opacity: 1;
  }

  33.333%,
  83.333% {
    opacity: 0;
  }
}

@keyframes b {
  0%,
  16.667%,
  100% {
    color: #fff;
    opacity: 1;
  }

  33.333%,
  83.333% {
    color: #000;
    opacity: 1;
  }
}

@keyframes a2 {
  0%,
  100% {
    opacity: 0;
  }

  33.333%,
  50% {
    opacity: 1;
  }

  16.667%,
  66.667% {
    opacity: 0;
  }
}

@keyframes b2 {
  0%,
  100% {
    color: #000;
    opacity: 1;
  }

  33.333%,
  50% {
    color: #fff;
    opacity: 1;
  }

  16.667%,
  66.667% {
    color: #000;
    opacity: 1;
  }
}

@keyframes a3 {
  0%,
  50%,
  100% {
    opacity: 0;
  }

  66.667%,
  83.333% {
    opacity: 1;
  }
}

@keyframes b3 {
  0%,
  50%,
  100% {
    color: #000;
    opacity: 1;
  }

  66.667%,
  83.333% {
    color: #fff;
    opacity: 1;
  }
}
